.login-page {
    display: flex;
    height: 100vh;
    margin: 6%;
  }
  
  
  .image-container img {
    width: 530px;
    height: 750px;
    gap: 0px;
    border-radius: 20px 0px 0px 0px;
    opacity: 0px;
  }

  .login-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 25% 160px;
    height: 750px;
  }
  