.ft-main {
    width: 100%;
    height: 371px;
    top: 297.87px;

    background-color: var(--Dgreen);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 0px;
    opacity: 0px;
    padding: 0%;

}

.ft-div {

    background-color: var(--Dgreen);
    width: 100%;
    height: 371px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%;


}

.Logo {
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    background-color: var(--Dgreen);
}


.ft-socials {

    background-color: var(--Dgreen);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    padding-right: 80px;

}

.ft-socials img {

    background-color: var(--Dgreen);
    color: white;
    width: 40px;
    height: auto;
}

.rights p {
    background-color: var(--Dgreen);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 30px;
}

hr {
    width: 800px;
}

a {
    background-color: var(--Dgreen);
}

.Logo img {
    width: 220px;
    height: auto;
    padding-top: 20px;

    background-color: var(--Dgreen);
}

.Logo h3 {
    background-color: var(--Dgreen);
    color: white;
}


.nb-list li {

    background-color: var(--Dgreen);
    color: white;
}

.nb-list ul {

    background-color: var(--Dgreen);
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    width: Fixed (1, 440px)px;
    height: Hug (115.75px)px;
    padding: 30px 80px 30px 80px;
    gap:20px;
}

.logo-text{

        color: white;
        font-size: 24px;
        font-weight: 700;

}

.logo-text span {
    color: var(--green);
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    text-align: left;
    background-color: var(--Dgreen);
}